<a href="https://colab.research.google.com/github/river6907/Bigdata-Analysis/blob/main/DataPreparation_%EA%B0%95%EB%8F%99%EC%A4%80_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 실습 3. 공공 데이터 수집 및 가공 연습

**(1) 데이터 수집**

    국가통계포털(KOSIS, Korean Statistical Information Service) 

    e-지방비표(통계) : (1)초등학교 교원수(시도/시/군/구)

                       (2)초등학교 학생수(시도/시/군/구)
                       
                       시점 : 최근5년 (2018-2020)

In [51]:
from google.colab import files
myfile = files.upload()

Saving 초등학교_교원수_시도_시_군_구__20220921100227.xlsx to 초등학교_교원수_시도_시_군_구__20220921100227 (1).xlsx
Saving 초등학교_학생수_시도_시_군_구__20220921100829.xlsx to 초등학교_학생수_시도_시_군_구__20220921100829.xlsx

**(2) 데이터 가공**

(1)초등학교 교원수(시도/시/군/구), 초등학교 학생수(시도/시/군/구) 두 개의 엑셀파일을 읽어 테이블에 저장

In [52]:
import pandas as pd
df_tea = pd.read_excel('초등학교_교원수_시도_시_군_구__20220921100227.xlsx')
df_stu = pd.read_excel('초등학교_학생수_시도_시_군_구__20220921100829.xlsx')

/usr/local/lib/python3.7/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [54]:
df_tea.head()

   행정구역별      2018      2019      2020      2021      2022
0     전국  186684.0  188582.0  189286.0  191224.0  195037.0
1  서울특별시   28992.0   28727.0   28608.0   28219.0   28335.0
2  부산광역시   10170.0   10152.0   10148.0   10171.0   10537.0
3  대구광역시    9039.0    9013.0    8905.0    8970.0    8930.0
4  인천광역시   10037.0   10026.0   10071.0   10081.0   10399.0

In [53]:
df_stu.head()

   행정구역별       2018       2019       2020       2021       2022
0     전국  2711385.0  2747219.0  2693716.0  2672340.0  2664278.0
1  서울특별시   424800.0   422293.0   409536.0   399435.0   393565.0
2  부산광역시   152775.0   155589.0   153527.0   153921.0   154858.0
3  대구광역시   125160.0   126122.0   122587.0   121308.0   121485.0
4  인천광역시   158871.0   160853.0   156928.0   155271.0   155906.0

(2) (1)에서 얻은 두 테이블로 2022년 학생수, 교원수 테이블 생성

In [80]:
df_te_2022 = df_tea.set_index('행정구역별')
df_te_2022 = df_te_2022['2022']
display(df_te_2022)

행정구역별
전국         195037.0
서울특별시       28335.0
부산광역시       10537.0
대구광역시        8930.0
인천광역시       10399.0
광주광역시        6029.0
대전광역시        6037.0
울산광역시        4537.0
세종특별자치시      2425.0
경기도         49357.0
강원도          6767.0
충청북도         6836.0
충청남도         9675.0
전라북도         8384.0
전라남도         8730.0
경상북도        10872.0
경상남도        14145.0
제주특별자치도      3042.0
Name: 2022, dtype: float64

In [81]:
df_st_2022 = df_stu.set_index('행정구역별')
df_st_2022 = df_st_2022['2022']
display(df_st_2022)

행정구역별
전국         2664278.0
서울특별시       393565.0
부산광역시       154858.0
대구광역시       121485.0
인천광역시       155906.0
광주광역시        83929.0
대전광역시        76960.0
울산광역시        66450.0
세종특별자치시      32230.0
경기도         767346.0
강원도          71530.0
충청북도         83827.0
충청남도        118228.0
전라북도         91290.0
전라남도         90238.0
경상북도        127385.0
경상남도        187423.0
제주특별자치도      41628.0
Name: 2022, dtype: float64

In [86]:
df_merge = pd.concat([df_st_2022,df_te_2022], axis=1)

In [87]:
display(df_merge)

              2022      2022
행정구역별
전국       2664278.0  195037.0
서울특별시     393565.0   28335.0
부산광역시     154858.0   10537.0
대구광역시     121485.0    8930.0
인천광역시     155906.0   10399.0
광주광역시      83929.0    6029.0
대전광역시      76960.0    6037.0
울산광역시      66450.0    4537.0
세종특별자치시    32230.0    2425.0
경기도       767346.0   49357.0
강원도        71530.0    6767.0
충청북도       83827.0    6836.0
충청남도      118228.0    9675.0
전라북도       91290.0    8384.0
전라남도       90238.0    8730.0
경상북도      127385.0   10872.0
경상남도      187423.0   14145.0
제주특별자치도    41628.0    3042.0

In [88]:
df_merge.columns = ['학생수','교원수']

In [ ]:
display(df_merge)

(3)교원 1인당 학생수 속성 추가 (학생수 / 교원수)

In [ ]:
df_merge['교원 1인당 학생수'] =  df_merge['학생수']/ df_merge['교원수']
display(df_merge)

(4)교원1인당 학생수 역순으로 정렬

In [ ]:
df_merge = df_merge.sort_values(by='교원 1인당 학생수',ascending=[False])
display(df_merge)

(5)주요 3개 도시 서울,부산,대구 데이터만 추출

In [101]:
df_merge = df_merge.loc[['서울특별시','부산광역시','대구광역시']]
display(df_merge)

            학생수      교원수  교원 1인당 학생수
행정구역별
서울특별시  393565.0  28335.0   13.889712
부산광역시  154858.0  10537.0   14.696593
대구광역시  121485.0   8930.0   13.604143

 (6)전체 년도에 대한 교원1인당 학생수 계산

In [102]:
df_te_all = df_tea.set_index('행정구역별')
df_st_all = df_stu.set_index('행정구역별')

In [104]:
df = df_st_all / df_te_all
display(df)

              2018       2019       2020       2021       2022
행정구역별
전국       14.523928  14.567769  14.230931  13.974919  13.660372
서울특별시    14.652318  14.700212  14.315436  14.154825  13.889712
부산광역시    15.022124  15.325946  15.128794  15.133320  14.696593
대구광역시    13.846664  13.993343  13.766086  13.523746  13.604143
인천광역시    15.828534  16.043587  15.582167  15.402341  14.992403
광주광역시    14.566404  14.665458  14.293583  14.114580  13.920882
대전광역시    13.839635  13.774430  13.224027  12.907524  12.748054
울산광역시    15.911563  15.851920  15.670077  15.278311  14.646242
세종특별자치시  13.867819  14.259714  13.766106  13.547619  13.290722
경기도      16.647840  16.529462  16.269351  15.910524  15.546853
강원도      11.499238  11.374398  11.069298  10.761784  10.570415
충청북도     12.841408  12.990112  12.655716  12.404387  12.262580
충청남도     13.055743  13.235027  12.965782  12.671610  12.219948
전라북도     12.011568  11.949016  11.465722  11.147451  10.888597
전라남도     11.725710  11.692156  11.146562  10.781021  10.336541
경상북도     12.715382  12.808229  12.502809  12.083129  11.716795
경상남도     14.021581  14.129529  13.787675  13.604890  13.250124
제주특별자치도  14.543344  14.460563  14.142558  14.315206  13.684418